<div class="owl-carousel">
  <div>
    <a href="#">
      <img src="https://cdn.shopify.com/s/files/1/0020/3613/8073/files/Main-banner-01.jpg?v=1533644286" alt="">
    </a>
  </div>
  <div>
    <a href="#">
      <img src="https://cdn.shopify.com/s/files/1/0020/3613/8073/files/Main-banner-01.jpg?v=1533644286" alt="">
    </a>
  </div>
  <div>
    <a href="#">
      <img src="https://cdn.shopify.com/s/files/1/0020/3613/8073/files/Main-banner-01.jpg?v=1533644286" alt="">
    </a>
  </div>
  <div>
    <a href="#">
      <img src="https://cdn.shopify.com/s/files/1/0020/3613/8073/files/Main-banner-01.jpg?v=1533644286" alt="">
    </a>
  </div>
</div><!-- end owl-carousel -->
