<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <div class="header__left">
          <div class="logo">
            <a class="logo__link" href="index.html">
              <img class="logo__img" src="img/logo.png" alt="BhaktiWay logo">
              <span class="logo__name">BhaktiWay</span>
            </a>
          </div>
        </div>
        <div class="header__right">
          <div class="search" id="search">
            <form action="#" class="search__form">
              <button class="search__btn">
                <span class="icon icon-search"></span>
              </button>
              <input type="text" class="search__input" placeholder="Поиск">
            </form><!-- end search -->
          </div>
          <nav class="nav">
            <a href="contacts.html" class="nav__link">Контакты</a>
            <a href="delivery.html" class="nav__link">Оплата и доставка</a>
            <a href="https://www.facebook.com/BhaktiWay/" target="_blank" class="nav__link">Facebook</a>
          </nav>
          <div class="cart">
            <span class="icon icon-cart"></span>
          </div>
        </div><!-- end header__right -->
      </div><!-- end header__top -->
      <div class="header__bottom">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__el">
              <a href="index.html" class="menu__link">Главная</a>
            </li>
            <li class="menu__el">
              <a href="#" class="menu__link">Аювердические препараты</a>
              <div class="dropdown">
                <ul class="dropdown__list">
                  <li class="dropdown__el">
                    <a href="#" class="dropdown__link">Сердечно-сосудистая система</a>
                  </li>
                  <li class="dropdown__el">
                    <a href="#" class="dropdown__link">Нервная система</a>
                  </li>
                  <li class="dropdown__el">
                    <a href="#" class="dropdown__link">Дыхательная система</a>
                  </li>
                  <li class="dropdown__el">
                    <a href="#" class="dropdown__link">Иммунная система</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__el">
              <a href="#" class="menu__link">Ароматерапия</a>
            </li>
            <li class="menu__el">
              <a href="#" class="menu__link">Травы</a>
            </li>
            <li class="menu__el">
              <a href="#" class="menu__link">Питание</a>
            </li>
            <li class="menu__el">
              <a href="#" class="menu__link">Книги</a>
            </li>
          </ul>
        </nav>
      </div><!-- end header__bottom -->
    </div><!-- end header__wrap -->
  </div><!-- end container -->
</header>
